@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root{
    /* COLORS */
    --WHITE: hsl(0, 0%, 100%);
    --LIGHT-GRAY: hsl(212, 45%, 89%);
    --GRAYISH-BLUE: hsl(220, 15%, 55%);
    --DARK-BLUE: hsl(218, 44%, 22%);
    /* Font */
    font-size: 15px;
}

    /* RESETING */

* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--LIGHT-GRAY);
    font-family: Outfit;
}

    /* STYLING */

#card {
    display: grid;
    place-items: center;
    width: 300px;
    background-color: var(--WHITE);
    padding: 1.2rem;
    border-radius: 20px;
}

#qr-code {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

#qr-text {
    padding: 1.2rem;
    text-align: center;
}

#qr-text h1 {
    color: var(--DARK-BLUE);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#qr-text p {
    color: var(--GRAYISH-BLUE);
}